In [1]:
import pandas as pd
import numpy as np
import matplotlib
from matplotlib import pylab as plt
import os
import ta
import datetime as dt

In [55]:
df1 = pd.read_csv("data/binance_data.csv")
df2 = pd.read_csv("data/coinbase_data.csv")

In [56]:

df1['datetime'] = df1['datetime']- 18000000
df1['datetime'] = pd.to_datetime(df1['datetime'], unit = 'ms')
df1['datetime'] = df1['datetime'].dt.strftime('%Y-%m-%d %H:%M:%S')
df1.head()

,Unnamed: 0,datetime,open,high,low,close,volume,symbol
0,2022-01-01 00:00:00,2022-01-01 00:00:00,46709.76,47535.43,46680.58,47197.66,2.29999,BTCTUSD
1,2022-01-01 01:00:00,2022-01-01 01:00:00,47159.20,47314.60,46968.65,46968.65,2.24871,BTCTUSD
2,2022-01-01 02:00:00,2022-01-01 02:00:00,47016.82,47172.69,46919.68,47145.35,5.19031,BTCTUSD
3,2022-01-01 03:00:00,2022-01-01 03:00:00,47210.38,47295.53,47087.27,47106.93,3.71817,BTCTUSD
4,2022-01-01 04:00:00,2022-01-01 04:00:00,47095.05,47225.42,46946.06,47110.25,3.07901,BTCTUSD

In [42]:
df2.head()

                  time     low    high    open   close   volume        id
0  2022-01-01 00:00:00  0.4162  0.4204  0.4166  0.4192  26337.3  POWR-USD
1  2022-01-01 01:00:00  0.4192  0.4250  0.4199  0.4211  56980.8  POWR-USD
2  2022-01-01 02:00:00  0.4186  0.4229  0.4211  0.4186  27973.3  POWR-USD
3  2022-01-01 03:00:00  0.4185  0.4204  0.4189  0.4186  26386.4  POWR-USD
4  2022-01-01 04:00:00  0.4173  0.4197  0.4194  0.4183  16900.1  POWR-USD

In [32]:
# Look at rows per ticker
print("33 tickers with missing rows")
new_ticker_list = np.array((df1.groupby('symbol').size().sort_values()).index[33:])
print(len(new_ticker_list))

33 tickers with missing rows
285

In [39]:
# Look at rows per ticker
print("33 tickers with missing rows")
very_new_ticker_list = np.array((df2.groupby('id').size().sort_values()).values[318:])
print(very_new_ticker_list)
print(len(very_new_ticker_list))

33 tickers with missing rows
[3637 3637 3637 3637 3637 3637 3637 3637 3637 3637 3637 3637 3637 3637
 3637 3637 3637 3637 3637 3637 3637 3637 3637 3637 3637 3637 3637 3637
 3637 3637 3637 3637 3637 3637 3637 3637 3637 3637 3637 3637 3637 3637
 3637 3637 3637 3637 3637 3637 3637 3637 3637 3637 3637 3637 3637 3637
 3637 3637 3637 3637 3637 3637 3637 3637 3637 3637 3637 3637 3637 3637
 3637 3637 3637 3637 3637 3637 3637 3637 3637 3637 3637 3637 3637 3637
 3637 3637 3637 3637 3637 3637 3637 3637 3637 3637 3637 3637 3637 3637
 3637 3637 3637 3637 3637 3637 3637 3637 3637 3637 3637 3637 3637 3637
 3637 3637 3637 3637 3637 3637 3637 3637 3637 3637 3637 3637 3637 3637
 3637 3637 3637 3637 3637 3637 3637 3637 3637 3637 3637 3637 3637 3637
 3637 3637 3637 3637 3637 3637 3637 3637 3637 3637 3637 3637 3637 3637
 3637 3637]
156

In [29]:
# Look at rows per ticker
new_ticker_list = np.array((df3.groupby('symbol').size().sort_values()).index[33:])
print(len(np.array((df3.groupby('symbol').size().sort_values()).values)))
print(np.array((df3.groupby('symbol').size().sort_values()).values)[500:])

792
[3624 3624 3624 3624 3624 3624 3624 3624 3624 3624 3624 3624 3624 3624
 3624 3624 3624 3624 3624 3624 3624 3624 3624 3624 3624 3624 3624 3624
 3624 3624 3624 3624 3624 3624 3624 3624 3624 3624 3624 3624 3624 3624
 3624 3624 3624 3624 3624 3624 3624 3624 3624 3624 3624 3624 3624 3624
 3624 3624 3624 3624 3624 3624 3624 3624 3624 3624 3624 3624 3624 3624
 3624 3624 3624 3624 3624 3624 3624 3624 3624 3624 3624 3624 3624 3624
 3624 3624 3624 3624 3624 3624 3624 3624 3624 3624 3624 3624 3624 3624
 3624 3624 3624 3624 3624 3624 3624 3624 3624 3624 3624 3624 3624 3624
 3624 3624 3624 3624 3625 3625 3625 3625 3625 3625 3625 3625 3625 3625
 3625 3625 3625 3625 3625 3625 3625 3625 3625 3625 3625 3625 3625 3625
 3625 3625 3625 3625 3625 3625 3625 3625 3625 3625 3625 3625 3625 3625
 3625 3625 3625 3625 3625 3625 3625 3625 3625 3625 3625 3625 3625 3625
 3625 3625 3625 3625 3625 3625 3625 3625 3625 3625 3625 3625 3625 3625
 3625 3625 3625 3625 3625 3625 3625 3625 3625 3625 3625 3625 3625 3625
 3625 3625 3625 3625 3625 3625 3625 3625 3625 3625 3625 3625 3625 3625
 3625 3625 3625 3625 3625 3625 3625 3625 3625 3625 3625 3625 3625 3625
 3625 3625 3625 3625 3625 3625 3625 3625 3625 3625 3625 3625 3625 3625
 3625 3625 3625 3625 3625 3625 3625 3625 3625 3625 3625 3625 3625 3625
 3625 3625 3625 3625 3625 3625 3625 3625 3625 3625 3625 3625 3625 3625
 3625 3625 3625 3625 3625 3625 3625 3625 3625 3625 3625 3625 3625 3625
 3625 3625 3625 3625 3625 3625 3625 3625 3625 3625 3625 3625]

In [66]:
coinbase_unique_times = np.unique(np.array(df2['time']))
print(coinbase_unique_times)
binance_unique_times = np.unique(np.array(df1['datetime']))
print(binance_unique_times)

coinbasenotbinance = set(coinbase_unique_times).difference(binance_unique_times)
print(coinbasenotbinance)

['2022-01-01 00:00:00' '2022-01-01 01:00:00' '2022-01-01 02:00:00' ...
 '2022-05-31 22:00:00' '2022-05-31 23:00:00' '2022-06-01 00:00:00']
['2022-01-01 00:00:00' '2022-01-01 01:00:00' '2022-01-01 02:00:00' ...
 '2022-05-31 21:00:00' '2022-05-31 22:00:00' '2022-05-31 23:00:00']
{'2022-06-01 00:00:00'}

In [68]:
for banana in coinbasenotbinance:
    apple = banana

In [70]:
df3 = pd.read_csv("data/combined_crypto.csv")
df3 = df3[df3.datetime != apple]
df3_unique_times = np.unique(np.array(df3['datetime']))
print(set(df3_unique_times).difference(binance_unique_times))

set()

In [75]:
print("33 tickers with missing rows")
very_new_ticker_list = np.array((df3.groupby('symbol').size().sort_values()).index[353:])
print(very_new_ticker_list)
print(len(very_new_ticker_list))
count = sum(map(lambda x : x==3624, very_new_ticker_list))

33 tickers with missing rows
['WBTCUSD' 'POLYBUSD' 'VIDTBUSD' 'PEOPLEBUSD' 'VOXELBUSD' 'XLMBUSD'
 'POLSBUSD' 'PERPBUSD' 'WAVESBUSD' 'XLMBTC' 'XECBUSD' 'PLAUSD' 'PONDBUSD'
 'WRXBUSD' 'PLABUSD' 'VETBUSD' 'SNXUSD' 'PERPUSD' 'WINGBUSD' 'WINBUSD'
 'VGXUSD' 'XLMUSD' 'POLYUSD' 'PHABUSD' 'WAXPBUSD' 'XTZBTC' 'XMRBUSD'
 'YGGBUSD' 'ZECBUSD' 'SKLEUR' 'ZECUSD' 'OMBUSD' 'OGNUSD' 'SNXBUSD'
 'YFIUSD' 'SKLUSD' 'OGNBUSD' 'SLPBUSD' 'ZILBUSD' 'ZRXBTC' 'OCEANBUSD'
 'NUUSD' 'ZRXBUSD' 'ZENBUSD' 'SKLBUSD' 'OMGBUSD' 'YFIBUSD' 'XRPBUSD'
 'OXTUSD' 'OXTBUSD' 'XRPTUSD' 'ORNUSD' 'UTKBUSD' 'ORNBUSD' 'XTZBUSD'
 'XTZUSD' 'XVGBUSD' 'XVSBUSD' 'XYOUSD' 'OOKIBUSD' 'ONTBUSD' 'ONEBUSD'
 'OMGUSD' 'YFIBTC' 'SHIBUSD' 'SOLBTC' 'SPELLUSD' 'USDTUSDC' 'SUSHIBTC'
 'SUSHIBUSD' 'SUSHIUSD' 'SXPBUSD' 'RLCUSD' 'SYSBUSD' 'SCRTBUSD'
 'THETABUSD' 'TKOBUSD' 'TLMBUSD' 'REQUSD' 'TOMOBUSD' 'TORNBUSD' 'TRACUSD'
 'REQBUSD' 'TRBBUSD' 'RENUSD' 'SOLGBP' 'SUPERBUSD' 'SCBUSD' 'SUNBUSD'
 'SOLUSDT' 'SRMBUSD' 'SANDBUSD' 'RVNBUSD' 'SOLUSD' 'RUNEBUSD' 'STMXBUSD'
 'RSRBUSD' 'RENBUSD' 'STORJBTC' 'ROSEBUSD' 'STORJUSD' 'STPTBUSD'
 'RNDRBUSD' 'STRAXBUSD' 'RLYUSD' 'STXBUSD' 'SUKUUSD' 'STORJBUSD'
 'SHIBBUSD' 'TRIBEBUSD' 'RBNUSD' 'QNTBUSD' 'QIBUSD' 'UNFIBUSD' 'PYRBUSD'
 'UNIBTC' 'UNIBUSD' 'PSGBUSD' 'UNIUSD' 'USDCBUSD' 'SPELLBUSD' 'PROMBUSD'
 'USDPBUSD' 'POWRUSD' 'USDTEUR' 'SOLBUSD' 'POWRBUSD' 'USDTUSD' 'QNTUSD'
 'UMAUSD' 'SNXBTC' 'UFTBUSD' 'RAYBUSD' 'RARIUSD' 'SFPBUSD' 'RAREBUSD'
 'TROYBUSD' 'RAMPBUSD' 'SOLEUR' 'TRUUSD' 'REEFBUSD' 'RADUSD' 'TRXTUSD'
 'TUSDBUSD' 'RADBUSD' 'TVKBUSD' 'QUICKUSD' 'QUICKBUSD' 'QTUMBUSD'
 'TWTBUSD' 'TRXBUSD' 'USDCEUR' 'KLAYBUSD' 'NUBTC' 'CKBBUSD' 'CITYBUSD'
 'CHZUSD' 'CHZBUSD' 'CHRBUSD' 'CHESSBUSD' 'CGLDUSD' 'CFXBUSD' 'CELRBUSD'
 'CELOBUSD' 'CAKEBUSD' 'C98BUSD' 'BURGERBUSD' 'BTGBUSD' 'BTCUSDT'
 'BTCUSDC' 'BTCUSD' 'BICOUSD' 'BIFIBUSD' 'BLZUSD' 'BNBBUSD' 'BNBTUSD'
 'BNTBUSD' 'CLVBUSD' 'BNXBUSD' 'BONDUSD' 'BTCBUSD' 'BTCEUR' 'BTCGBP'
 'BTCSTBUSD' 'BTCTUSD' 'BONDBUSD' 'CLVUSD' 'COCOSBUSD' 'COMPBUSD'
 'DASHBUSD' 'DASHUSD' 'DATABUSD' 'DEGOBUSD' 'DENTBUSD' 'DESOUSD' 'DASHBTC'
 'DEXEBUSD' 'DGBBUSD' 'DIABUSD' 'DNTBUSD' 'DOCKBUSD' 'DODOBUSD' 'DOGEBUSD'
 'DFBUSD' 'BICOBUSD' 'DARBUSD' 'CVPBUSD' 'COMPUSD' 'COSBUSD' 'COTIBUSD'
 'COTIUSD' 'COVALUSD' 'CREAMBUSD' 'CVXBUSD' 'CROUSD' 'CRVUSD' 'CTKBUSD'
 'CTSIBUSD' 'CTSIUSD' 'CTXCBUSD' 'CVCUSD' 'CRVBUSD' 'BETABUSD' 'BELBUSD'
 'BCHUSD' 'ALCXUSD' 'ALGOBTC' 'ALGOBUSD' 'ALGOEUR' 'ALGOUSD' 'ALICEBUSD'
 'ALCXBUSD' 'ALPACABUSD' 'AMPBUSD' 'AMPUSD' 'ANKRBUSD' 'ANKRUSD' 'ANTBUSD'
 'API3USD' 'ALPHABUSD' 'ARBUSD' 'AGLDUSD' 'AERGOBUSD' '1INCHBUSD'
 '1INCHUSD' 'AAVEBTC' 'AAVEBUSD' 'AAVEUSD' 'ACHUSD' 'AGLDBUSD' 'ACMBUSD'
 'ADABUSD' 'ADAEUR' 'ADAGBP' 'ADATUSD' 'ADAUSD' 'ADXBUSD' 'ADABTC'
 'DOGEEUR' 'ARPABUSD' 'ASMUSD' 'AXSUSD' 'BADGERBUSD' 'BADGERUSD'
 'BAKEBUSD' 'BALBUSD' 'BALUSD' 'AXSBUSD' 'BANDBUSD' 'BARBUSD' 'BATBUSD'
 'BATUSD' 'BCHBTC' 'BCHBUSD' 'BCHEUR' 'BANDUSD' 'ARPAUSD' 'AXSBTC'
 'AVAXUSD' 'ATABUSD' 'ATMBUSD' 'ATOMBTC' 'ATOMBUSD' 'ATOMUSD'
 'AUCTIONBUSD' 'AVAXUSDT' 'AUCTIONUSD' 'AUDIOBUSD' 'AUTOBUSD' 'AVABUSD'
 'AVAXBTC' 'AVAXBUSD' 'AVAXEUR' 'AUDBUSD' 'DOGEUSD' 'DOTBTC' 'DOTBUSD'
 'KRLUSD' 'KSMBUSD' 'LAZIOBUSD' 'LCXUSD' 'LINABUSD' 'LINKBTC' 'KP3RBUSD'
 'LINKBUSD' 'LINKUSD' 'LITBUSD' 'LPTBUSD' 'LPTUSD' 'LRCBUSD' 'LRCUSD'
 'LINKEUR' 'LSKBUSD' 'KNCUSD' 'KEEPUSD' 'ILVBUSD' 'IMXUSD' 'INJBUSD'
 'IOSTBUSD' 'IOTABUSD' 'IOTXBUSD' 'KNCBUSD' 'IOTXUSD' 'JASMYBUSD'
 'JASMYUSD' 'JOEBUSD' 'JSTBUSD' 'JUVBUSD' 'KAVABUSD' 'IQBUSD' 'IDEXUSD'
 'LTCBTC' 'LTCEUR' 'MIRBUSD' 'MIRUSD' 'MKRBTC' 'MKRBUSD' 'MKRUSD'
 'MLNBUSD' 'MINABUSD' 'MLNUSD' 'MTLBUSD' 'NEARBUSD' 'NEOBUSD' 'NKNUSD'
 'NMRBUSD' 'NMRUSD' 'MOVRBUSD' 'LTCBUSD' 'MDXBUSD' 'MDTBUSD' 'LTCUSD'
 'LTOBUSD' 'MANABTC' 'MANABUSD' 'MANAEUR' 'MANAUSD' 'MDTUSD' 'MASKBUSD'
 'MATICBTC' 'MATICBUSD' 'MATICEUR' 'MATICUSD' 'MBOXBUSD' 'MCBUSD'
 'MASKUSD' 'NULSBUSD' 'IDEXBUSD' 'ICPUSDT' 'ETHEUR' 'ETHGBP' 'ETHTUSD'
 'ETHUSD' 'ETHUSDC' 'ETHUSDT' 'ETHBUSD' 'EURBUSD' 'FARMUSD' 'FETBUSD'
 'FETUSD' 'FIDABUSD' 'FILBTC' 'FILBUSD' 'FARMBUSD' 'FILUSD' 'ETHBTC'
 'ETCBUSD' 'DOTEUR' 'DOTUSD' 'DOTUSDT' 'DYDXBUSD' 'EGLDBUSD' 'ELFBUSD'
 'ETCUSD' 'ENJBTC' 'ENJUSD' 'ENSBUSD' 'ENSUSD' 'EOSBUSD' 'EOSUSD'
 'ERNBUSD' 'ENJBUSD' 'ICXBUSD' 'FIOBUSD' 'FLOWBUSD' 'GRTUSD' 'GTCBUSD'
 'GTCUSD' 'GYENUSD' 'HARDBUSD' 'HBARBUSD' 'GRTBUSD' 'HIGHBUSD' 'HNTBUSD'
 'HOTBUSD' 'ICPBTC' 'ICPBUSD' 'ICPEUR' 'ICPUSD' 'HIVEBUSD' 'FISBUSD'
 'GRTBTC' 'GHSTBUSD' 'FLUXBUSD' 'FORBUSD' 'FORTHBUSD' 'FORTHUSD' 'FOXUSD'
 'FRONTBUSD' 'GODSUSD' 'FTMBUSD' 'FXSBUSD' 'FXUSD' 'GALABUSD' 'GALAUSD'
 'GALAUSDT' 'GBPBUSD' 'FTTBUSD' 'ZRXUSD']
439

In [76]:
full_data_set = df3[df3['symbol'].isin(very_new_ticker_list)].copy()

In [77]:
full_data_set.to_csv("Full_combined_tickers.csv")